window * {
    font-size: 12px;
}

window .box-wrapper {
    border-radius: 8px;
    background: alpha(#323332, 0.8);
    color: #dbdbdb;
    padding: 6px;
    border: 1px solid alpha(#bfbfbf, 0.03);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3);
}

.box-wrapper .search-container {
    padding: 0;
}

.input {
    padding: 12px 18px;
    border-radius: 6px;
    background: alpha(#1c1c1a, 0.8);
    border: 1px solid alpha(#424242, 0.5);
}

.item-box {
    padding: 0;
    border-radius: 4px;
}

child:hover .item-box,
child:selected .item-box {
    background: alpha(#9a9e97, 0.1);
    padding: 0 12px;
}

window .item-text-box {
    all: unset;
    padding: 8px 0;
}

.large-icons {
    padding: 4px;
}